{{ template "header.html" . }}
<div class="textContent">
<p>
I work in the Aerospace sector, performing vibrations and shock analysis. I hold a B.S. in Physics with a minor in Astronomy, and am pursuing a M.S. in Aerospace Engineering with a concentration in Structural Dynamics. My relevant core competencies include mathematics, programming, and finite element analysis, including Craig Bampton model reduction. I also have experience with Femap, Nastran, and LS-Dyna.
</p>
<p>
I am always open to hearing about interesting new opportunities. A copy of my resume is available below. You can also reach me below, if you think I would be a good fit for your team.
</p>
<p>
Philosphically, I am a proponent of simple software. Simple doesn't have to mean visually simple, like this page is. That is a function of the amount of time I have to spend on it, as well as the fact that honestly, I have a soft spot for simple aesthetics. There are many very nice looking pages I would consider simple. Simple, in a web context, means made without the "aid" of gargantuan JavaScript and CSS libraries that provide minimal benefit and a huge amount of tracking data. This is not a practice I support. There is a place for interactivity and Web 2.0, but <a href="https://www.youtube.com/shorts/iV3js9pd5IE">recipe websites</a> are not one of them.
</p>
<p>
This website is still under construction. I hope to add additional information I find useful as well as some of my own writing on software design and perhaps life in general.
</p>

</div>
{{ template "footer.html" . }}
